<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <style>
        #app>h3{
            flex:2;
            align-self: center;
        }
        .buttons{
            flex:5;
            align-self: center;
        }
        .question{
            width: 80%;
            border: 1px solid whitesmoke;
            flex:15;
            align-self: center;
            display: flex;
            flex-direction: column;
        }
        #app{
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: #00AADD;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
        }
    </style>
</head>
<body>
    <div id="app">
        <h3>第{{index+1}}题</h3>
        <question  class="question" :value='datas'  :index="index"  @changeValue="changedata(item)"></question>
        <buttons  class="buttons" :length='datas.length' :value="datas" :index="index" @changeit="change"></buttons>
    </div>
    <script>

        Vue.component('question',{
            props:['value','index'],
            template:`
                <div v-if="value[index].type=='radio'">
                    <p>{{value[index].question}}</p>
                    <div v-for="(item,index2) in value[index].answer">
                        <input name="value[index].question" :value="item" type="radio"  v-model="value[index].check">
                        <label>{{item}}</label>
                    </div>
                </div>

                <div v-else-if="value[index].type=='checkbox'">
                    <p>{{value[index].question}}</p>
                    <div v-for="(item,index2) in value[index].answer">
                        <input type="checkbox" name="item" :value="item" v-model="value[index].check" >
                        <label>{{item}}</label>
                    </div>
                </div>

                <div v-else-if="value[index].type=='text'">
                    <p>{{value[index].question}}</p>
                    <div>
                        <textarea v-model="value[index].answer" style="width: 100%;height: 250px;border: none;background-color: rgba(0,0,0,0)"></textarea>
                    </div>
                </div>`,
            methods:{
                // checkit:function (item) {
                //     console.log('执行'+item);
                //     this.$parent.changedata(item)
                //  //   this.$emit('changeValue',item);
                // },
                // textit:function(event){
                //     console.log('执行'+event.target.value);
                //     this.$parent.changedata(event.target.value)
                // },
                // ifIn:function (item) {
                //     var flag = true;
                //     this.value[this.index].check.forEach(function (it) {
                //         if(it==item) flag=false;
                //     })
                //     return false;
                // }
            },
        })

        Vue.component('buttons',{
            props:['length','index','value'],
            template:`
                <div>
                      <button  class='btn' v-show='index!==0'  @click="prev">上一题</button>
                      <button  class='btn' v-show='index!==length-1' @click="next">下一题</button>
                      <button  class='btn' v-show="check" @click="check">提交</button>
                </div>
            `,
            methods:{
                check:function () {
                    var flag=false;
                    this.value.forEach(function (item,index) {
                        if(item.type=='radio'){
                            if(item.check==''){
                                flag=true;
                            }
                        }else if(item.type=='checkbox'){
                            if(item.check.length==0){
                                flag=true;
                            }
                        }else{
                            if(item.answer==''){
                                flag=true;
                            }
                        }
                    })

                    if(flag) alert('请填完哦')
                    else alert('提交成功')

                },
                prev:function () {
                    this.index--;
                    this.$emit('changeit',this.index)
                },
                next:function () {
                    this.index++;
                    this.$emit('changeit',this.index)
                },

            }
        })



        var app = new Vue({
            el:'#app',
            data:{
                datas:[{
                    type:'radio',
                    question:'吃饭不！',
                    answer:['不吃','吃'],
                    check:''
                },{
                    type:'checkbox',
                    question:'喜欢啥！',
                    answer:['钱','饭','玩具'],
                    check:[]
                },{
                    type:'text',
                    question:'说点啥',
                    answer:''
                }],
                index:0
            },
            methods:{
                change:function (it) {
                    this.index = it
                },
                // changedata:function (item) {
                //     switch (this.datas[this.index].type){
                //         case 'radio':this.datas[this.index].check=item;break;
                //         case 'checkbox':{
                //             var flag=0;
                //             this.datas[this.index].check.forEach(function (it,index,arr) {
                //                 if(it==item) {
                //                     arr.splice(index,1);
                //                     flag=1;
                //                 }
                //             })
                //             if(flag==0) this.datas[this.index].check.push(item)
                //         };break;
                //         case 'text':this.datas[this.index].answer=item;break;
                //     }
                //
                // }
            }
        })
    </script>
</body>
</html>